@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #7d43cf;
    --darkpurple: #665c84;
    --heavydarkpurple: #232629;
    --neonpurple: #a711d0;
    --neonazul: #1f51ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
    background-image: radial-gradient(circle, #310c3b, rgb(0, 0, 0), #191035);
    background-repeat: no-repeat;
}

main {
    color: var(--white);
}

/* nav settings */

header {  
    position: fixed;
    top: 0.2%;
    left: 5%;
    right: 5%;
    margin: auto;
    width: 90%;
    z-index: 1;

}

nav {
    color: #9043ce;
    background-color: oklch(from currentColor calc(1+1) c h);
    border: currentColor 2px solid;
    /* background-color: oklch(from currentColor 80% 0.6 270); */
    border-radius: 10px;
    padding: 8px;

    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6px;
}

a {
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    padding: 0 6px;
    line-height: 60px;
}


a:has(p):hover {
    background-color: rgba(255, 255, 255, 0.233);
    transition: 0.4s background-color;
    transition-delay: 0.2s;
    border-radius: 10px;
}

nav a button {
    background-color: rgba(40, 5, 51, 0.233);
    color: var(--white);
    border: 2px solid white;
}

nav a button:hover {
    transform: translateY(2px);
    transition: 0.3s;
}

/* Animations */

@keyframes entranceVer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes apparition {
    from {
        width: 0;
    }
}

/* Animations */

/* nav settings */

input {
    accent-color: none;
}

button {
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 20px;
}

footer {
    padding: 20px 0px;
    margin-top: 60px;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}

.glass {
    /* background-color: rgba(40, 5, 51, 0.233); */
    backdrop-filter: blur(500px);
}

@media (max-width: 500px) {
    nav {
        padding: 5px;
    }

    a {
        font-size: 16px;
        line-height: 28px;
        padding: 0 6px;
    }

    nav a button {
        font-size: 16px;
        padding: 2px 6px;
    }

}

@media (min-width:501px) and (max-width: 748px) {
    a {
        line-height: 40px;
    }
}