@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #8a5ec9;
    --darkpurple: #665c84;
    --heavydarkpurple: #232629;
    --neonazul: #1f51ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
    background-image: linear-gradient(60deg, rgba(138, 94, 201, 1), rgba(102, 92, 132, 0.6));
}

main {
    color: var(--white);
}

/* nav settings */

header {  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    background-color: var(--purple);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

a {
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
}

nav a button {
    color: var(--white);
    background-color: var(--heavydarkpurple);
}

/* nav settings */

button {
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 20px;
}

footer {
    padding: 20px 0px;
    margin-top: 60px;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}