@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #8a5ec9;
    --darkpurple: #665c84;
    --heavydarkpurple: #232629;
    --neonazul: #1f51ff;
}

.container-grid {
    display: grid;
    grid-template-areas: 
    "nav"
    "Mcontent"
    "footer"
    ;
}

nav {
    grid-area: nav;
}

main {
    grid-area: Mcontent;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.bookial-reference {
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-image: url(../img/imgref.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: bold;
    border-radius: 12px;
    padding: 6px 10px;
    font-size: 50px;
    background-color: #0c0c0c65;
    background-image: linear-gradient(60deg,rgba(138, 94, 201, 0), rgba(102, 92, 132, 0.5), rgba(35, 34, 105, 1));
    width: fit-content;
    letter-spacing: 1px;
}

.bookial-introduction {
    width: max-content;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--darkpurple);
    border-radius: 10px;
    padding: 30px 20px;
}

article p {
    font-size: 20px;
}

article button {
    margin-top: 10px;
    background-color: var(--neonazul);
    border: #1f51ff solid 0px;
    box-shadow: 5px 5px 10px black;
}

h2 {
    font-size: 34px;
}

span {
    font-size: 12px;
    font-style: italic;
}

hr {
    border: var(--black) solid 0px;
    height: 30px;
}

footer {
    grid-area: footer;
}