@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #834fcc;
    --darkpurple: #604e97;
    --heavydarkpurple: #232629;
    --neonazul: #1f51ff;
}


.login-box {
    width: 420px;
    margin: 240px auto;
    padding: 30px 40px;
    border: #1f51ff solid 4px;
    border-radius: 10px;
    background-color: #834fcc;
    text-align: center;
    box-shadow: 2px 8px 12px 3px var(--heavydarkpurple);
}

h1 {
    margin: 10px 0px;
}

fieldset {
    border: none;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    font-size: 1em;
}

input {
    margin-left: 2%;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    font-size: 0.9em;
}

input[type="submit"] {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 6px 12px;
    font-size: 18px;
}