@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #7d43cf;
    --darkpurple: #604e97;
    --heavydarkpurple: #232629;
    --neonpurple: #a711d0;
    --neonazul: #1f51ff;
}

/* Begining register */
.register-box {
    width: 60vw;
    margin: 220px auto;
    padding: 2em;
    border-radius: 10px;
    text-align: center;

    border-top: 4px solid rgba(255, 255, 255, 0.048);
    border-left: 4px solid rgba(255, 255, 255, 0.048);
    background-color: #1b0f528c;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.048);
    animation: entranceVer 1s ease-out forwards;
}

h1 {
    margin: 10px 0px;
    font-size: 2.6em;
    text-wrap: balance;
    font-family: "Lobster", sans-serif;
}

.register-box fieldset {
    margin: 60px auto;
}

fieldset {
    border: none;
    margin: 40px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

fieldset div {
    text-align: left;
}

legend {
    font-size: 1.4em;
}

.register-box label {
    font-size: 1.1em;
    text-align: left;
}

input {
    width: 100%;
    padding: 6px 6px;
    background-color: rgba(163, 163, 163, 0.486);
    color: var(--white);

    border-radius: 4px;
    border: none;

    font-size: 0.9em;
    appearance: none;
}

input::placeholder {
    color: rgb(167, 166, 166);
}

input[type="submit"] {
    width: 60%;
    border-radius: 4px;
    margin: 14px auto;
    padding: 8px 12px;
    background-color: #1f51ff;

    cursor: pointer;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;

    transition: background-color 0.5s ease-out;
}

input[type="submit"]:hover {
    background-color: #a711d0;
}

/* End register */


/* Begining login */

.login-box {
    width: clamp(400px, 35vw, 700px);
    margin: 260px auto;
    padding: 2em;
    border-radius: 10px;
    text-align: center;

    border-top: 4px solid rgba(255, 255, 255, 0.048);
    border-left: 4px solid rgba(255, 255, 255, 0.048);
    background-color: #1b0f528c;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.048);
    animation: entranceVer 1s ease-out forwards;
}

.login-box form fieldset {
    margin: 44px auto;
}

/* End login */

/* Media para ambos */
@media (max-width: 500px) {
    .register-box, .login-box {
        width: 340px;
        margin: 200px auto;
    }

    .register-box label {
        font-size: 1.2em;
    }

    .register-box fieldset {
        gap: 0.2em;
    }

    .login-box, .register-box {
        padding: 0.9em; 
    }

    fieldset {
        flex-direction: column;
    }

}
