@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #0c0c0c;
    --white: #f2f2f2;
    --purple: #834fcc;
    --darkpurple: #604e97;
    --heavydarkpurple: #232629;
    --neonazul: #1f51ff;
}

/* Begining register */
.register-box {
    width: 440px;
    margin: 220px auto;
    padding: 30px 30px;
    border: #1f51ff solid 4px;
    border-radius: 10px;
    background-color: #6720caef;
    text-align: center;
    box-shadow: 2px 8px 12px 3px var(--heavydarkpurple);
}

h1 {
    margin: 10px 0px;
}

fieldset {
    border: none;
    margin: 10px auto;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    font-size: 1em;
}

input {
    margin-left: 2%;
    padding: 4px 6px;
    border-radius: 4px;
    border: none;
    font-size: 0.9em;
}

input[type="submit"] {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 14px auto;
    padding: 6px 12px;
    font-size: 18px;
}
/* End register */


/* Begining login */

.login-box {
    width: 440px;
    margin: 260px auto;
    padding: 30px 30px;
    border: #1f51ff solid 4px;
    border-radius: 10px;
    background-color: var(--purple);
    text-align: center;
    box-shadow: 2px 8px 12px 3px var(--heavydarkpurple);
}

.login-box form fieldset {
    margin: 24px auto;
}

/* End login */

/* Media para ambos */
@media (max-width: 500px) {
    .register-box, .login-box {
        width: 300px;
        margin: 200px auto;
        padding: 6px 6px;
    }

    label {
        flex-direction: column;
    }

}