<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/useraccount.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <a href="#">Inicio</a> <!-- Por ahora hasta conseguir un logo @esteban -->

                <a href="#">Nosotros</a>
                <a href="#">Nose</a>
                <a href="#">Lo que sea</a>

                <a href="register.html"><button>Ingresar</button></a>
            </nav>
        </header>

        <section>
            
        </section>

    </main>

    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>
</html>