<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/useraccount.css">
    <title>Register</title>
</head>

<body>

    <header>
        <nav class="glass">
            <a href="index.html">
                <p>Inicio</p>
            </a> <!-- Por ahora hasta conseguir un logo @saray -->

            <a href="#">
                <p>Nosotros</p>
            </a>
            <a href="#">
                <p>Nose</p>
            </a>
            <a href="#">
                <p>Lo que sea</p>
            </a>

            <div>
                <a href="register.html"><button class="glass">Registrarse</button></a>
                <a href="login.html"><button class="glass">Iniciar Sesion</button></a>
            </div>
        </nav>
    </header>

    <main>


        <section class="register-box">
            <h1>Registrarse</h1>
            <form action="" method="POST">
                <fieldset>
                    <label for="username">Nombre:</label>
                    <input type="text" id="user-first-name" name="userFirstname"placeholder="Juan" required>
                </fieldset>

                <fieldset>
                    <label for="userlastname">Apellido:</label>
                    <input type="text" id="user-lastname" name="userLastName"placeholder="Gomez" required>
                </fieldset>
                
                <fieldset>
                    <label for="useremail">Email:</label>
                    <input type="email" id="user-email" name="userEmail" placeholder="ejemplo@gmail.com" required>
                </fieldset>

                <fieldset>
                    <label for="userpassword">Contraseña:</label>
                    <input type="password" id="user-password" name="userPassword" minlength="8" required>
                </fieldset>
                <input type="submit" value="Registrarse"></input>
            </form>
        </section>

    </main>
    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>

</html>