<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/register.css">
    <title>Login</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <a href="#">Inicio</a> <!-- Por ahora hasta conseguir un logo @esteban -->
                <div>
                    <a href="#">Nosotros</a>
                    <a href="#">Nose</a>
                    <a href="#">Lo que sea</a>
                </div>
                <a href="register.html"><button>Ingresar</button></a>
            </nav>
        </header>
        <hr>

        <section class="login-box">
            <h1>Iniciar sesion</h1>
            <form action="" method="POST">
                <fieldset>
                    <label for="username">Nombre: <input type="text" id="username" name="user-name"></label>
                    <label for="userlastname">Apellido: <input type="text" id="userlastname" name="user-last-name"></label>
                </fieldset>
                <fieldset>
                    <label for="useremail">Email: <input type="email" id="useremail" name="user-email"></label>
                    <label for="userpassword">Contraseña: <input type="password" id="userpassword" name="user-password" minlength="8"></label>
                </fieldset>
                <input type="submit" value="Registrarse"></input>
            </form>
        </section>
    
    </main>
    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer> 
</body>
</html>