<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/useraccount.css">
	<title>Register</title>
</head>

<body>

	<header>
		<nav class="glass">
			<a href="index.html">
				<p>Inicio</p>
			</a> <!-- Por ahora hasta conseguir un logo @saray -->

			<a href="#"> <p>Nosotros</p> </a>
			<a href="#"> <p>Un Mundo Feliz</p> </a>
			<a href="#"> <p>1984</p> </a>

			<div>
				<a href="register.html"><button class="glass">Registrarse</button></a>
				<a href="login.html"><button class="glass">Iniciar Sesion</button></a>
			</div>
		</nav>
	</header>

	<main>


		<section class="register-box">
			<h1>Registrarse</h1>
			<form action="" method="POST">
				<fieldset>
					<label for="user-first-name">Nombre:</label>
					<input type="text" id="user-first-name" name="first_name"placeholder="Juan" required>
				</fieldset>

				<fieldset>
					<label for="user-lastname">Apellido:</label>
					<input type="text" id="user-lastname" name="first_surname"placeholder="Gomez" required>
				</fieldset>
				
				<fieldset>
					<label for="user-email">Email:</label>
					<input type="email" id="user-email" name="email" placeholder="ejemplo@gmail.com" required>
				</fieldset>

				<fieldset>
					<label for="user-password">Contraseña:</label>
					<input type="password" id="user-password" name="password" minlength="6" required>
				</fieldset>
				<input type="submit" value="Registrarse"></input>
			</form>
		</section>

	</main>
	<footer>
		<p>Bookial &copy;2026 Todos los derechos reservados</p>
		<p>Contacto: bookial@protonmail.com</p>
	</footer>
</body>

</html>