<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="icon" href="../../static/ico/ico.ico" type="image/x-icon">
    <title>Apoderados</title>
</head>
<body>
    <header>
        <nav class="glass">
            <a href="../public/index.html">
                <p>Inicio</p>
            </a>

            <a href="#">
                <p>Nosotros</p>
            </a>
            <a href="#">
                <p>Nose</p>
            </a>
            <a href="#">
                <p>Lo que sea</p>
            </a>

            <div>
                <a href="../public/register.html"><button class="glass">Registrarse</button></a>
                <a href="../public/login.html"><button class="glass">Iniciar Sesion</button></a>
            </div>
        </nav>
    </header>


    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>
</html>