<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/calendar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>

<body>
    <header>
        <nav>
            <a href="#">Inicio</a> <!-- Por ahora hasta conseguir un logo @esteban -->

            <a href="#">Nosotros</a>
            <a href="#">Nose</a>
            <a href="#">Lo que sea</a>

            <a href="register.html"><button>Ingresar</button></a>
        </nav>
    </header>

    <main>

        <section class="introduction">
            <h1>Calendario de Eventos</h1>
            <hr>
            <button>Nuevo evento</button>
        </section>

        <hr>

        <section class="container-grid">

            <article>
                <h2>Lunes</h2>
            </article>

            <article>
                <h2>Martes</h2>
            </article>

            <article>
                <h2>Miercoles</h2>
            </article>

            <article>
                <h2>Jueves</h2>
            </article>

            <article>
                <h2>Viernes</h2>
            </article>

            <article>
                <h2>Sabado</h2>
            </article>
            
            <article>
                <h2>Domingo</h2>
            </article>
            
            <div class="box">
                <h3>1</h3>
            </div>
            <div class="box">
                <h3>2</h3>
            </div>
            <div class="box">
                <h3>3</h3>
            </div>
            <div class="box">
                <h3>4</h3>
            </div>
            <div class="box">
                <h3>5</h3>
            </div>
            <div class="box">
                <h3>6</h3>
            </div>
            <div class="box">
                <h3>7</h3>
            </div>
            <div class="box">
                <h3>8</h3>
            </div>
            <div class="box">
                <h3>9</h3>
            </div>
            <div class="box">
                <h3>10</h3>
            </div>
            <div class="box">
                <h3>11</h3>
            </div>
            <div class="box">
                <h3>12</h3>
            </div>
            <div class="box">
                <h3>13</h3>
            </div>
            <div class="box">
                <h3>14</h3>
            </div>
            <div class="box">
                <h3>15</h3>
            </div>
            <div class="box">
                <h3>16</h3>
            </div>
            <div class="box">
                <h3>17</h3>
            </div>
            <div class="box">
                <h3>18</h3>
            </div>
            <div class="box">
                <h3>19</h3>
            </div>
            <div class="box">
                <h3>20</h3>
            </div>
            <div class="box">
                <h3>21</h3>
            </div>
            <div class="box">
                <h3>22</h3>
            </div>
            <div class="box">
                <h3>23</h3>
            </div>
            <div class="box">
                <h3>24</h3>
            </div>
            <div class="box">
                <h3>25</h3>
            </div>
            <div class="box">
                <h3>26</h3>
            </div>
            <div class="box">
                <h3>27</h3>
            </div>
            <div class="box">
                <h3>28</h3>
            </div>
            <div class="box">
                <h3>29</h3>
            </div>
            <div class="box">
                <h3>30</h3>
            </div>
            <div class="box">
                <h3>31</h3>
            </div>
        </section>

    </main>

    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>

</html>