<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/teachers-students.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">
                <p>Inicio</p>
            </a> <!-- Por ahora hasta conseguir un logo @esteban -->

            <a href="#">Nosotros</a>
            <a href="#">Nose</a>
            <a href="#">Lo que sea</a>

            <div>
                <a href="../public/register.html"><button class="glass">Registrarse</button></a>
                <a href="../public/login.html"><button class="glass">Iniciar Sesion</button></a>
            </div>
        </nav>
    </header>
    <main></main>
    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>
</html>