<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/teachers-students.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/ico/ico.ico" type="image/x-icon">
    <title>Profesores</title>
</head>
<body>
    <header>
        <nav class="glass">
            <a href="../public/index.html">
                <p>Inicio</p>
            </a>

            <a href="#">
                <p>Nosotros</p>
            </a>
            <a href="#">
                <p>Nose</p>
            </a>
            <a href="#">
                <p>Lo que sea</p>
            </a>

            <div>
                <a href="../public/register.html"><button class="glass">Registrarse</button></a>
                <a href="../public/login.html"><button class="glass">Iniciar Sesion</button></a>
            </div>
        </nav>
    </header>
    <main>

        <section class="title">
            <h1>Gestion de profesores</h1>
        </section>

        <section class="events">
            <button commandFor="modal-teacher" command="show-modal">Nuevo Profesor</button>
        </section>

        <section class="container-grid">

            <article class="header">
                <h1>Profesores</h1>
            </article>

            <article class="teacher-info">
                
                <button popovertarget="teacherInfo" class="btn-info"><h1>JUAN PEREZ &uarr;</h1></button>
            
                <div id="teacherInfo" popover>
                    <h1>sdjsd</h1>
                </div>
            </article>
        </section>

        <dialog id="modal-teacher" class="modal">
            <form action="" method="POST">
                <div>
                    <h2>Nuevo Profesor</h2>
                </div>
                
                <fieldset>
                    <div>
                        <label for="new-teacher-name">Nombre: <span>*</span></label>
                        <input type="text" id="new-teacher-name" name="newTeacherName">
                    </div>
                
                    <div>
                        <label for="new-rut-teacher">Rut: <span>*</span></label>
                        <input type="text" id="new-rut-teacher" name="newRutTeacher">
                    </div>

                    <div>
                        <label for="new-subject-teacher">Materia <span>*</span></label>
                        <input type="text" id="new-subject-teacher" name="newSubjectTeacher">
                    </div>
                </fieldset>

                <div class="sbtn">
                    <input type="submit" value="Agregar Profesor" commandFor="modal-teacher" command="close">
                </div>
            </form>
        </dialog>


    </main>
    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>
</html>