<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/teachers-students.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a> <!-- Por ahora hasta conseguir un logo @esteban -->

            <a href="#">Nosotros</a>
            <a href="#">Nose</a>
            <a href="#">Lo que sea</a>

            <a href="register.html"><button>Ingresar</button></a>
        </nav>
    </header>
    <main>
        <section class="container-grid">
                <article class="header">
                    <h1>Profesores</h1>
                </article>

                <article class="teacher-name">
                    <h1>Nombre</h1>
                    <p>Juan Gonzales</p>
                </article>

                <article class="teacher-rut">
                    <h1>Rut</h1>
                </article>

                <article class="teacher-subject">
                    <h1>Materia</h1>
                </article>
                
                <article class="teacher-management">
                    <button>Editar Profesor</button>
                    <button>Eliminar Profesor</button>
                </article>
        </section>
    </main>
    <footer>
        <p>Bookial &copy;2026 Todos los derechos reservados</p>
        <p>Contacto: bookial@protonmail.com</p>
    </footer>
</body>
</html>